@theme inline {
  --color-tknvivid-night-bg: oklch(from #1a1b26 l c h);
  --color-tknvivid-night-bg-dark: oklch(from #16161e l c h);
  --color-tknvivid-night-bg-dark1: oklch(from #0C0E14 l c h);
  --color-tknvivid-night-bg-float: var(--color-tknvivid-night-bg-dark);
  --color-tknvivid-night-bg-highlight: oklch(from #292e42 l c h);
  --color-tknvivid-night-bg-popup: var(--color-tknvivid-night-bg-dark);
  --color-tknvivid-night-bg-search: var(--color-tknvivid-night-blue0);
  --color-tknvivid-night-bg-sidebar: var(--color-tknvivid-night-bg-dark);
  --color-tknvivid-night-bg-statusline: var(--color-tknvivid-night-bg-dark);
  --color-tknvivid-night-bg-visual: oklch(from #283457 l c h);
  --color-tknvivid-night-black: oklch(from #15161e l c h);
  --color-tknvivid-night-black-bright: oklch(from #414868 l c h);
  --color-tknvivid-night-blue: oklch(from #7aa2f7 l c h);
  --color-tknvivid-night-blue-bright: oklch(from #8db0ff l c h);
  --color-tknvivid-night-blue0: oklch(from #3d59a1 l c h);
  --color-tknvivid-night-blue1: oklch(from #2ac3de l c h);
  --color-tknvivid-night-blue2: oklch(from #0db9d7 l c h);
  --color-tknvivid-night-blue5: oklch(from #89ddff l c h);
  --color-tknvivid-night-blue6: oklch(from #b4f9f8 l c h);
  --color-tknvivid-night-blue7: oklch(from #394b70 l c h);
  --color-tknvivid-night-border: var(--color-tknvivid-night-black);
  --color-tknvivid-night-border-highlight: oklch(from #27a1b9 l c h);
  --color-tknvivid-night-comment: oklch(from #565f89 l c h);
  --color-tknvivid-night-cyan: oklch(from #7dcfff l c h);
  --color-tknvivid-night-cyan-bright: oklch(from #a4daff l c h);
  --color-tknvivid-night-dark3: oklch(from #545c7e l c h);
  --color-tknvivid-night-dark5: oklch(from #737aa2 l c h);
  --color-tknvivid-night-diff-add: oklch(from #243e4a l c h);
  --color-tknvivid-night-diff-change: oklch(from #1f2231 l c h);
  --color-tknvivid-night-diff-delete: oklch(from #4a272f l c h);
  --color-tknvivid-night-diff-text: var(--color-tknvivid-night-blue7);
  --color-tknvivid-night-error: var(--color-tknvivid-night-red1);
  --color-tknvivid-night-fg: oklch(from #c0caf5 l c h);
  --color-tknvivid-night-fg-dark: oklch(from #a9b1d6 l c h);
  --color-tknvivid-night-fg-float: var(--color-tknvivid-night-fg);
  --color-tknvivid-night-fg-gutter: oklch(from #3b4261 l c h);
  --color-tknvivid-night-fg-sidebar: var(--color-tknvivid-night-fg-dark);
  --color-tknvivid-night-git-add: oklch(from #449dab l c h);
  --color-tknvivid-night-git-change: oklch(from #6183bb l c h);
  --color-tknvivid-night-git-delete: oklch(from #914c54 l c h);
  --color-tknvivid-night-git-ignore: var(--color-tknvivid-night-dark3);
  --color-tknvivid-night-green: oklch(from #9ece6a l c h);
  --color-tknvivid-night-green-bright: oklch(from #9fe044 l c h);
  --color-tknvivid-night-green1: oklch(from #73daca l c h);
  --color-tknvivid-night-green2: oklch(from #41a6b5 l c h);
  --color-tknvivid-night-hint: var(--color-tknvivid-night-teal);
  --color-tknvivid-night-info: var(--color-tknvivid-night-blue2);
  --color-tknvivid-night-magenta: oklch(from #bb9af7 l c h);
  --color-tknvivid-night-magenta-bright: oklch(from #c7a9ff l c h);
  --color-tknvivid-night-magenta2: oklch(from #ff007c l c h);
  --color-tknvivid-night-orange: oklch(from #ff9e64 l c h);
  --color-tknvivid-night-purple: oklch(from #9d7cd8 l c h);
  --color-tknvivid-night-rainbow1: var(--color-tknvivid-night-blue);
  --color-tknvivid-night-rainbow2: var(--color-tknvivid-night-yellow);
  --color-tknvivid-night-rainbow3: var(--color-tknvivid-night-green);
  --color-tknvivid-night-rainbow4: var(--color-tknvivid-night-teal);
  --color-tknvivid-night-rainbow5: var(--color-tknvivid-night-magenta);
  --color-tknvivid-night-rainbow6: var(--color-tknvivid-night-purple);
  --color-tknvivid-night-rainbow7: var(--color-tknvivid-night-orange);
  --color-tknvivid-night-rainbow8: var(--color-tknvivid-night-red);
  --color-tknvivid-night-red: oklch(from #f7768e l c h);
  --color-tknvivid-night-red-bright: oklch(from #ff899d l c h);
  --color-tknvivid-night-red1: oklch(from #db4b4b l c h);
  --color-tknvivid-night-teal: oklch(from #1abc9c l c h);
  --color-tknvivid-night-todo: var(--color-tknvivid-night-blue);
  --color-tknvivid-night-warning: var(--color-tknvivid-night-yellow);
  --color-tknvivid-night-yellow: oklch(from #e0af68 l c h);
  --color-tknvivid-night-yellow-bright: oklch(from #faba4a l c h);
}